[
	{ms_os_component, [
		{identifier, "0000000000000000000000000000000000000000"},
		{group, "12eb4738d08c260872f6da2980aaec4f6995f570"}]},
	
	{ms_os_service, [
		{service_ip, undefined},
		{service_port, undefined}]},
	
	{mosaic_component, [
		{callbacks, ms_os_component_callbacks},
		{harness_input_descriptor, undefined},
		{harness_output_descriptor, undefined}]},
	
	{kernel, [
		{error_logger, tty}]},
	
	{sasl, [
		{sasl_error_logger, tty},
		{errlog_type, error}]},
	
	{os_mon, [
		{start_cpu_sup, false},
		{start_memsup, false},
		{start_disksup, false},
		{start_os_sup, false}]}
].
